.calculator{
  border: 1px solid black;
  width: 30%;
  margin: 40px auto;
  padding: 50px;
}
.input{
  border: 1px solid #ddd;
  border-radius: 1px;
  height: 60px;
  padding-right: 15px;
  padding-top: 10px;
  text-align: right;
  margin-right: 6px;
  font-size: 2.5rem;
  overflow-x: auto;
  transition: all .2s ease-in-out;
}
.operators{
display: flex;
    gap: 10px;
}
.operators div{

      display: inline-block;
  border: 1px solid #bbb;
  border-radius: 1px;
  width: 79px;
  text-align: center;
  padding: 10px;
  margin: 20px 4px 10px 0;
  cursor: pointer;
  background-color: #ddd;
  transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}
.numbers{
  display: flex;
    gap: 10px;
}
.numbers div{
  
      display: inline-block;
  border: 1px solid #ddd;
  border-radius: 1px;
  width: 80px;
  text-align: center;
  padding: 10px;
  margin: 10px 4px 10px 0;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}
.equal{
   font-size: 35px;
    border: 1px solid;
    padding: 90px 20px 10px 20px;
    margin-bottom: 10px;
        width: 60px;
        height: 130px;
    text-align: center;
     cursor: pointer;
  color: #FFF;
  background-color: #4d90fe;
  transition: all .2s ease-in-out;
}
.flixnumbers{
  display: flex;
  gap: 10px;
}
